* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* Sayfa yüksekliğini tam yap */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  font-size: 1.2rem;
  padding: 16px 16px;
  background-color: white;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  font-size: 1.5rem;
  font-family: "Lora", sans-serif;
  font-style: italic;
  font-weight: 800;
  color: #e5989b;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 12px;
}

/* .icon-link {
  margin-right: 8px;
} */

a {
  text-decoration: none;
}

i {
  color: #e5989b;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-family: "Lora", sans-serif;
  text-align: center;
  font-weight: 800;
  color: #e5989b;
}

header p {
  font-size: 1.5rem;
  font-family: "Lora", sans-serif;
  margin: 16px 0;
  text-align: center;
}

.content-span {
  font-weight: 800;
  color: #9dbdff;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  min-width: 280px;
  padding: 8px;
  margin: 8px 0;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

input:focus {
  outline: 2px solid #e5989b;
}

button {
  width: 100%;
  padding: 10px 16px;
  background-color: #e5989b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

button:hover {
  background-color: #9dbdff;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
  font-family: "Lora", sans-serif;
  font-weight: 500;
  margin: 16px 0;
  color: #e5989b;
}

.about p {
  font-size: 1.3rem;
  font-family: "Lora", sans-serif;
  margin: 16px 0;
  font-weight: 500;
  line-height: 1.5;
}

.about img {
  width: 100%;
  height: auto;
  margin: 16px 0;
  border-radius: 8px;
}

footer {
  margin-top: auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

/* Responsive */

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: space-evenly;
  }

  form {
    padding: 0 32px;
  }

  .about-content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: center;
  }

  .about figure {
    padding: 0px 32px;
  }

  .about p {
    padding: 0px 32px;
  }
}

@media (min-width: 1024px) {
  body {
    width: 80%;
    margin: auto;
  }
}
